<nav>
    <ul>
        <div *ngIf="isAuth">
            <li routerLink="/dashboard">
                List
            </li>
        </div>
        <div *ngIf="!isAuth; else loggedout">
            <li routerLink="/login">
                Login
            </li>
            <li routerLink="/register">
                Register
            </li>
        </div>
        <ng-template #loggedout>
            <li routerLink="/new-listing">
                New Listing
            </li>
            <li>
                logged in as {{user?.username}}
            </li>
            <li (click)="logout()">
                Log Out
            </li>
        </ng-template>
    </ul>
</nav>