<nav>
    <ul>
        <li>
            <a routerLink="/dashboard">Dashboard</a>

        </li>
        <div *ngIf="!isAuth; else loggedout">
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/register">Register</a>
            </li>
        </div>
        <ng-template #loggedout>
            <li>
                <a routerLink="/new-listing">New Listing</a>
            </li>
            <li>
                logged in as {{user?.username}}
            </li>
            <li>
                <a (click)="logout()">Log Out</a>
            </li>
        </ng-template>
    </ul>
</nav>